{% extends 'layout.html' %}

{% block body %}
<!-- html goes here -->
<h1>Welcome to my domain</h1>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">BIOGRAPHY</h5>
            <p class="card-text">Ashes story began in Crown Point, Indiana at a young age he was always interested in
                the art. At 8 he learned and mastered sound technology and two instruments this was the begining of
                ashes passion for music.</p>

            {% endblock %}