{% extends 'layout.html' %}

{% block body %}
<!-- html goes here -->
<h1>Welcome to my domain</h1>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">BIOGRAPHY</h5>
            <img id="merch-img" class="card-img-top img-fluid"
                src="{{ url_for('static', filename='images/about/page.png') }}" "{{ url_for('static', filename='images/about/artist.1.png') }}">
        </div>
            <p class="card-text"> Ashes story began in Crown Point, Indiana at a young age he was always interested in
            the art. At 8 he learned and mastered sound technology and two instruments this was the begining of
            ashes passion for music.He started getting noticed with the public in early August in 2018 with the
            creation of his original song "Smoke from the Ashes" gained over 1,ooo views on the same day.
            This was the begining of his fame start in the music career making </p>
        <div class="card-body">
        </div>
        <img id="merch-img" class="card-img-top img-fluid"
            src="{{ url_for('static', filename='images/about/Compeition picture.PNG') }}">
    </div>
</div>


{% endblock %}