{% extends 'layout.html' %}
{% block body %}

{% set image_filepath = "images/merch/" + item.image_name %}
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid img-thumnail" src="{{url_for('static', filename=image_filepath) }}" alt="{{item.name}}">
    </div>
    <div class="col-md-6">
        <h2 class="text-danger">{{item.name}}</h2>
        <p>Fresh {{item.type}} straight from the ashes. This {{item.type}} is specially 
            handcrafted for comfort of the frehsest cotton avalaiable.
        </p>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Quantity</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  {% for i in range(1, 26) %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>
        <h3>Price: {{item.cost}}</h3>
        <a href="" class="btn btn-secondary">Buy Now</a>
    </div>
</div>
{% endblock %}