{% extends 'layout.html' %}

{% block body %}
<img src="{{url_for('static', filename='images/WelcomeAshes.jpg')}}" class="img-fluid" alt="Welcome ">
<br>
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">News</h5>
            <p class="card-text">12/18 Grammy Nominee </p>
            <p class="card-text">New Album Releasing SoonB</p>
            <p class="card-text">Enviroment Awareness Project</p>
            <p class="card-text">2019 Flame Merchandise Now Available</p>
            <p class="card-text">Announcing Campfire Upcoming Tour</p>
            <p class="card-text">Music Video Release Date: April 16, 2019</p>
            <p class="card-text">Upcoming appearance on the Ellen Show </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-danger">Whats Hot?</h5>
            <p class="card-text">I am.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text">Spotify:<a href="https://open.spotify.com/playlist/1ExXZYFn0TU0CCRl5viVR6">@Camp0_oFire</a></p>
            <p class="card-text">Twitter: <a href="https://twitter.com/Camp0_oFire">@Camp0_oFire</a></p>
            <p class="card-text">Instagram: @Campfire</p>
            <p class="card-text">Youtube:  <a href="https://www.youtube.com/channel/UCUM4pD0sXrvc2ejtXavXnyA">@officialCampFire</a></p>
            <p class="card-text">Soundcloud:</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>

{% endblock %}
