{% extends 'layout.html' %}

{% block body %}
   

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="NationModal" data-whatever="">Open modal for Nation</button>
 
<div class="modal-fade" id="NationModal" tabindex="-1" role="dialog" aria-labelledby="NationLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Join The #FireNation!</h5>
        <p>Stay up to date on the latest with Campfire!</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="icon"><i class="fas fa-fire"></i></div>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="email-name" name="" placeholder="Enter Your Email Address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</div>




<img src="{{url_for('static', filename='images/WelcomeAshes.jpg')}}" class="img-fluid" alt="Welcome ">
<br>
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">News</h5>
            <p class="card-text">12/18 Grammy Nominee </p>
            <p class="card-text">New Album Releasing SoonB</p>
            <p class="card-text">Enviroment Awareness Project</p>
            <p class="card-text">2019 Flame Merchandise Now Available</p>
            <p class="card-text">Announcing Campfire Upcoming Tour</p>
            <p class="card-text">Music Video Release Date: April 16, 2019</p>
            <p class="card-text">Upcoming appearance on the Ellen Show </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-danger">Whats Hot?</h5>
            <p class="card-text">I am.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text">Spotify:<a href="https://open.spotify.com/playlist/1ExXZYFn0TU0CCRl5viVR6">@Camp0_oFire</a></p>
            <p class="card-text">Twitter: <a href="https://twitter.com/Camp0_oFire">@Camp0_oFire</a></p>
            <p class="card-text">Instagram: @Campfire</p>
            <p class="card-text">Youtube:  <a href="https://www.youtube.com/channel/UCUM4pD0sXrvc2ejtXavXnyA">@officialCampFire</a></p>
            <p class="card-text">Soundcloud:</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>

{% endblock %}
