{% extends 'layout.html' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                    <legend class="border-bottom mb-4 card-title">Welcome Back</legend>
                    {% from 'includes/_formhelpers.html' import render_field %}
                {{ render_field(form.email, class="form-control form-control-lg") }}
                {{ render_field(form.password, class="form-control form-control-lg") }}
                <div class="form-check">
                    {{ form.remember(class="form-check-input")}}&emsp;
                    {{ form.remember.label(class="form-check-input")}}
                </div>
            </fieldset>
            <div class="form-field">
                {{ form.submit(class="btn btn-outline-warning ") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account? <a href="{{ url_for('forum.register')}}" class="ml-2">Sign up now</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}