{% extends 'layout.html' %}

{% block style %}
<style>
  .display-4{
    color: red;
  }
</style>
{% endblock %}
{% block body %}
<div class="jumbotron bg-dark">
  <h4 class="text-center display-4 text-red" >Campfire Merchandise</h4>
  <p class="text-center lead text-white">Support CampFire by buying the latest and hottest of his merchandise! <br> We have affordable merch ranging from accessories to daily clothing!</p>
</div>

<div class="text-white card bg-dark">
  <div class="card-header">
    <div class="row">
      
      <div class="col">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">{{category_field}}</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/merchandise">All</a>
          {% for type in types %}
            <a class="dropdown-item btn" href="{{'?type=' + type}}">{{type}}</a>
          {% endfor %}
        </div>
      </div>
      
      <div class="col">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">{{album_field}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for album in albums %}
              <a class="dropdown-item" href="{{'?album=' + album}}">{{album}}</a>
            {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
<div class="text-white card-columns">
  {% for item in merch %}
  {% set image_filepath = "images/merch/" + item.image_name %}
  {% set link = "/merchandise/checkout?id=" + item.id|string %}
  <div class="card bg-dark">
    <img class="card-img-top img-fluid" src="{{ url_for('static', filename=image_filepath) }}"
      alt="{{item.name}}">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.cost}}</p>
      <a href={{link}} class="btn btn-primary card-link">Add To Cart</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}