{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Campfire Merchandise</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  
</div>

<div class="card-deck">
  <div class="card">
    <img id="merch-img" class="card-img-top" src="{{url_for('static', filename='images/CampfireSweatshirt1.jpeg')}}" class="img-fluid" alt="Sweatshirts ">
    <div class="card-body">
      <h5 class="card-title">Sweatshirts</h5>
      <p class="card-text">$25</p>
      <a href="#" class="card-link">Add To Cart</a>
    </div>
  </div>
  <div class="card">
    <img id="merch-img" class="card-img-top img-fluid" src="{{url_for('static', filename='images/CampfireHoodie1.jpg')}}" alt="Hoodies ">
    <div class="card-body">
      <h5 class="card-title">Hoodies</h5>
      <p class="card-text">$30</p>
      <a href="#" class="card-link">Add To Cart</a>
    </div>
  </div>
  <div class="card">
    <img id="merch-img" class="card-img-top img-fluid" src="{{url_for('static',filename='images/CampfireBan1.jpeg')}}"alt="Bandana ">
    <div class="card-body">
      <h5 class="card-title">Bandana</h5>
      <p class="card-text">$2.50</p>
      <a href="#" class="card-link">Add To Cart</a>
    </div>
  </div>
</div>
{% endblock %}