{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Campfire Merchandise</h1>
  <p class="lead">Support Campfire by buying the latest and hottest of his merchandise! Currently 10% of all profits are going towards the Enviroment Awareness project/charity! Support us towards our goal!</p>
 
</div>

<div class="card-columns">
  {% for item in merch %}
    {% set image_filepath = "images/merch/" + item.image_name %}
    {% set link = "/merchandise/checkout/" + item.name.replace(" ", "-")%}
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="{{ url_for('static', filename=image_filepath) }}" alt="{{item.name}}">
      <div class="card-body">
        <h5 class="card-title">{{item.name}} </h5>
        <p class="card-text">{{item.cost}}</p>
        <a href={{link}} class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}