{% extends 'layout.html' %}
{% block scripts %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/countdown.js')}}"></script>
<script src="{{url_for('static', filename='js/player.js')}}"></script>
<script>
    $(document).ready(function () {
        $('.mediPlayer').mediaPlayer();
    });
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/progres-bar.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<style>
    .bg-img {
        background-image: url('../static/images/music/coming.jpg');
        height: 100%;
        background-position: center;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .overlay-text{
        position: relative;
    }
    .card-title{
        color: white;
    }
    .card-text{
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<div class="card-deck">
    {% for cover in covers %}
    <div class="card">
        <img src="{{ url_for('static', filename=cover.front) }}" class="card-img-top img-thumnail album-cover">
        <div class="card-body bg-dark">
            <div class="mediPlayer">
                <audio class="listen" preload="none" data-size="250" src="/static/sounds/piano.mp3"></audio>
            </div>
            <h5 class="card-title">{{cover.name}}</h5>
            <p class="card-text"> {{cover.description}} </p>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div class="card border-light text-light d-block">
    <img class="card-img" src="{{url_for('static', filename='images/music/coming.jpg')}}" alt="">
    <div class="card-img-overlay">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br>
            <div class="text-center overlay-text">
                <h1>COMING SOON</h1>
                <hr>
                <p id=countdown-timer></p>
            </div>
            <div class="text-left">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> 
                <br>
                <br>
                <br>
                <p>New Album</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}