{% extends 'layout.html' %}
{% block scripts %}
<script src="{{url_for('static', filename='js/countdown.js')}}"></script>

{% endblock %}

{% block style %}
<style>
    .bg-img {
        background-image: url('../static/images/music/coming.jpg');
        height: 100%;
        background-position: center;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .overlay-text{
        position: relative;
    }
</style>
{% endblock %}

{% block body %}
<div class="card-deck">
    {% for cover in covers %}
    <div class="card">
        <img src="{{ url_for('static', filename=cover.front) }}" class="card-img-top img-thumnail album-cover">
        <div class="card-body">
            <h5 class="card-title">{{cover.name}}</h5>
            <p class="card-text"> {{cover.description}} </p>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div class="card border-light text-light d-block">
    <img class="card-img" src="{{url_for('static', filename='images/music/coming.jpg')}}" alt="">
    <div class="card-img-overlay">
            <div class="text-center overlay-text">
                <h1>COMING SOON</h1>
                <hr>
                <p id=countdown-timer></p>
            </div>
            <div class="text-left">
                <p>New Album</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}