{% extends 'layout.html' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <form action="" method="POST" , enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 card-title">New Post</legend>
                {% from 'includes/_formhelpers.html' import render_field %}
                {{ render_field(form.subject, class="form-control form-control-lg") }}
                {{ render_field(form.content, class="form-control form-control-lg") }}
            </fieldset>
            <div class="form-field">
                {{ form.submit(class="btn btn-warning ") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}