{% extends 'layout.html' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 card-text">Join Today!</legend>
                {% from 'includes/_formhelpers.html' import render_field %}
                {{ render_field(form.username, class="form-control form-control-lg")}}
                {{ render_field(form.email, class="form-control form-control-lg") }}
                {{ render_field(form.password, class="form-control form-control-lg") }}
                {{ render_field(form.confirm_password, class="form-control form-control-lg") }}
            </fieldset>
            <br>
            <div class="form-field">
                {{ form.submit(class="btn btn-outline-warning ") }}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have an Account? <a href="{{ url_for('forum.login')}}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}