
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title> Merchandise </title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body id=background>

    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="text-light navbar-brand" href="/">
            Campfire
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar"
            aria-controls="navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/merchandise">Merchandise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/music">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container" id="MainPage">
        
            
        
        
<div class="jumbotron">
  <h1 class="display-4">Campfire Merchandise</h1>
  <p class="lead">Support Campfire by buying the latest and hottest of his merchandise! Currently 10% of all profits are going towards the Enviroment Awareness project/charity!</p>
 
</div>

<div class="card-deck">
  
    
    
    
      </div>
      <br><br>
      <div class="card-deck">
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/hoodie1.jpg" alt="Black Campfire Jacket">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Jacket </h5>
        <p class="card-text">$30.00</p>
        <a href=/merchandise/checkout/Black-Campfire-Jacket class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/bandana1.jpeg" alt="Black Campfire Bandana">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Bandana </h5>
        <p class="card-text">$2.50</p>
        <a href=/merchandise/checkout/Black-Campfire-Bandana class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/pillow1.jpeg" alt="Black Campfire Pillow">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Pillow </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/Black-Campfire-Pillow class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
      </div>
      <br><br>
      <div class="card-deck">
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/shirt1.jpeg" alt="Black Campfire Shirt">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Shirt </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/Black-Campfire-Shirt class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/sweat_shirt1.jpeg" alt="Black Campfire Sweat Shirt">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Sweat Shirt </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/Black-Campfire-Sweat-Shirt class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/sweat_shirt2.jpeg" alt="Abstract Campfire Sweat Shirt">
      <div class="card-body">
        <h5 class="card-title">Abstract Campfire Sweat Shirt </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/Abstract-Campfire-Sweat-Shirt class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
      </div>
      <br><br>
      <div class="card-deck">
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/tank1.jpeg" alt="Black Campfire Tank Top">
      <div class="card-body">
        <h5 class="card-title">Black Campfire Tank Top </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/Black-Campfire-Tank-Top class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/artist1.png" alt="Campfire Poster">
      <div class="card-body">
        <h5 class="card-title">Campfire Poster </h5>
        <p class="card-text">$10.00</p>
        <a href=/merchandise/checkout/Campfire-Poster class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
    
    
    
    <div class="card">
      <img class="merch-img card-img-top img-fluid" src="/static/images/merch/sweatpants1.jpg" alt="White Abstract Pants">
      <div class="card-body">
        <h5 class="card-title">White Abstract Pants </h5>
        <p class="card-text">$25.00</p>
        <a href=/merchandise/checkout/White-Abstract-Pants class="btn btn-primary card-link">Add To Cart</a>
      </div>
    </div>
  
</div>

        <br><br><br>
    </div>
    <footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Campfire Support Team</h5>
          <p>If you are experiencing any errors running the site please contact: TSAwebmasterteam@gmail.com</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-6">
            <!-- Links -->
            <h5 class="text-uppercase">Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/merchandise">Merchandise</a>
              </li>
              <li>
                <a href="/music">Music</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>