{% extends 'layout.html' %}

{% block style %}
    <style>
        .tour-img{
            width: 100%;
        }
    </style>

{% endblock %}

{% block body %}  
<div class="card border-danger text-center">
        <div class="card-body">
            <h5 class="card-title"><p class="text-center">Below are tour dates, locations, and prices all avalible to purchase online!</p></h5>
            <p class="card-text">
                    <img src="{{url_for('static', filename='images/tour/Frontpic.PNG')}}" class="tour-img" alt="...">  
            </p>
        </div>
    </div>  
  
{% endblock %}
