<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Campfire Support Team</h5>
        <p>If you are experiencing any errors running the site please contact: <a href="mailto: TSAwebmasterteam@gmail.com">TSAwebmasterteam@gmail.com</a></p>
        <h2>Social Media</h2>
        <a href="https://twitter.com/Camp0_oFire" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/channel/UCUM4pD0sXrvc2ejtXavXnyA" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/_campp_fire_/" class="fa fa-instagram"></a>
        <a href="https://open.spotify.com/playlist/1ExXZYFn0TU0CCRl5viVR6" class="fa fa-spotify"></a>
        <a href="https://soundcloud.com/camp-fire-347741457" class="fa fa-soundcloud"></a> 
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">
        <!-- Links -->
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/merchandise">Merchandise</a>
          </li>
          <li>
            <a href="/music">Music</a>
          </li>
          <li>
            <a href="/forum">Forum</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/tour">Tour</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->