<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="text-light navbar-brand" href="/">
            Campfire
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar"
            aria-controls="navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/merchandise">Merchandise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/music">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/tour">Tour</a>
                </li>
                <li class="nav-item">
                         <a class="nav-link text-light" href="/contact">Contact Us</a>
                 </li>
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    {% if current_user.shopping_cart %}
                        <a href="/merchandise/shopping-cart" class="fas fa-shopping-cart nav-item"><span class="badge badge-pill badge-primary">{{current_user.shopping_cart|length}}</span></a>
                    {% else %}
                        <a href="/merchandise/shopping-cart" class="fas fa-shopping-cart nav-item"></a>
                    {% endif %}
                    <a href="/account" class="nav-item nav-link text-light">Account</a>
                    <a href="/logout" class="nav-item nav-link text-light">Logout</a>
                {% else %}
                    <a href="/login" class="nav-item nav-link text-light">Login</a>
                    <a href="/register" class="nav-item nav-link text-light">Register</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>