.checkout-img{
    border-right: 2px solid red;
}

#background {
    /* The image used */
    background-image: url('../images/concert.jpg');
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

#header{
    background-color: gray;
}
footer{
    background-color: beige;
    opacity: 0.5;
}
.merch-img{
    width: 1200px;
    height: 100%;
    object-fit: cover;
}

.about-img{
    display: block;
}

.album-cover{
    width: 100%;
    height: 19vw;
    object-fit: cover;
}

.bgimg {
    background-image: url('../images/music/coming.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

hr {
    margin: auto;
    border-bottom: 2px solid black;
    width: 40%;
}